<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <style>
      .red   {background-color: red; }
      .green {background-color: green; }
      
}
    </style>
    <title>Parking Sysytem</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  </head>
  <body>

    <div class="page-header"><h1>Welcome to Parking system <small>enjoy smart parking</small></h1></div>
  <div ng-controller="parkingSystem">
   <!--  <div id="layOut" ng-repeat="place in parking | filter:{raw:1}" >
      {{place.place}} , {{place.taken}}
    </div> -->


    <table class="table table-bordered">
      <tr>
        <th  ng-repeat="place in parking | filter:{raw:1}" ng-class="{red:place.taken , green:!place.taken}">   {{place.place}} {{place.id}} <button ng-show="place.taken"  ng-click="removeCar($index)">Remove car</button></th>
      </tr>
        
      <tr>
        <td ng-repeat="place in parking | filter:{raw:1}" ng-class="{red:place.taken , green:!place.taken}"> Taken: {{place.taken}}   </td> 
      </tr>
      
      <tr>
        <td ng-repeat="place in parking | filter:{raw:1}" ng-class="{red:place.taken , green:!place.taken}"> Car number parked : {{place.carNumber}} </td>
      </tr>
      <tr><th></th></tr>

      <tr>
        <th ng-repeat="place in parking | filter:{raw:2}"" ng-class="{red:place.taken , green:!place.taken}">  {{place.place}} <button ng-show="place.taken"  ng-click="removeCar($index + 5)">Remove car</button> </th>
      </tr>
        
      <tr>
        <td ng-repeat="place in parking | filter:{raw:2}" ng-class="{red:place.taken , green:!place.taken}"> Taken: {{place.taken}}   </td> 
      </tr>
      
      <tr>
        <td ng-repeat="place in parking | filter:{raw:2}" ng-class="{red:place.taken , green:!place.taken}" > Car number parked : {{place.carNumber}} </td>
      </tr>
      
      <tr><th></th></tr>

      <tr>
        <th ng-repeat="place in parking | filter:{raw:3}" ng-class="{red:place.taken , green:!place.taken}">  {{place.place}}  <button ng-show="place.taken"  ng-click="removeCar($index + 10)">Remove car</button></th>
      </tr>
        
      <tr>
        <td ng-repeat="place in parking | filter:{raw:3}" ng-class="{red:place.taken , green:!place.taken}"> Taken: {{place.taken}}   </td> 
      </tr>
      
      <tr>
        <td ng-repeat="place in parking | filter:{raw:3}" ng-class="{red:place.taken , green:!place.taken}"> Car number parked : {{place.carNumber}} </td>
      </tr>
     
     
     <div>
       
     </div>   

    </table>
    <form ng-submit="parkCar()" class="form-group">
      <input  placeholder="Enter Car Number" type="text"  ng-model="carNumber">
      <input type="submit" value="Park">
    </form>
    
    <form ng-submit="freeSpace()">
    <h4><input type="submit" value="Check">
     <span class="label label-success">{{freeSpaceID}}</span></h4>
    </form>

  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="angular.js"></script>
  </body>
</html>

